<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <!--<http pattern="/resources/**" security="none"/>-->
    <!--<http pattern="/webjars/**" security="none"/>-->
    <!--<http pattern="/getitems" security="none"/>-->
    <!--<http pattern="/login" security="none"/>-->
    <!--<http pattern="/fotoserver/**" security="none"/>-->
    <!--<http pattern="/getitems" security="none"/>-->

    <!--<http pattern="/ws/**" auto-config="true">-->
        <!--<csrf disabled="true"/>-->
        <!--<intercept-url pattern="/**" access="isAuthenticated()"/>-->
    <!--</http>-->
    <http pattern="/ws/**" security="none"/>

    <http auto-config="true" authentication-manager-ref="authenticationManager">
        <!--Authentication-->
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/toDetails" access="isAuthenticated()"/>
        <intercept-url pattern="/changeDetails" access="isAuthenticated()"/>
        <intercept-url pattern="/pass" access="isAuthenticated()"/>
        <!--fotoserver==permitall-->
        <!--Items-->
        <intercept-url pattern="/adminGetitems" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/checkout" access="permitAll"/>
        <intercept-url pattern="/toClients" access="hasRole('ROLE_ADMIN')"/>
        <!--Orders-->
        <intercept-url pattern="/orders" access="isAuthenticated()"/>
        <intercept-url pattern="/adminOrders" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/orderstopost" access="isAuthenticated()"/>
        <intercept-url pattern="/singleorder" access="isAuthenticated()"/>
        <intercept-url pattern="/adminSingleorder" access="hasRole('ROLE_ADMIN')"/>
        <!--Single-->
        <intercept-url pattern="/single" access="permitAll"/>
        <intercept-url pattern="/single/files" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/single/update" access="hasRole('ROLE_ADMIN')"/>
        <!--RestClients-->
        <intercept-url pattern="/rest/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <!--RestOrders-->
        <intercept-url pattern="/ajax/orders/get" access="isAuthenticated()"/>
        <intercept-url pattern="/ajax/orders/adminGet" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/ajax/orders/adminGetAll" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/ajax/orders/changeStatus" access="hasRole('ROLE_ADMIN')"/>

        <intercept-url pattern="/resources/**" access="permitAll"/>
        <intercept-url pattern="/webjars/**" access="permitAll"/>

        <!--<csrf request-matcher-ref="csrfSecurityRequestMatcher"/>-->
        <form-login login-processing-url="/loggin" login-page='/login' default-target-url="/getitems" authentication-success-handler-ref="authSuccessHandler" authentication-failure-url="/login?error=true" always-use-default-target = "true"/>
        <logout  logout-success-url="/getitems" logout-url="/loggout"/>
    </http>


    <!--<authentication-manager alias="authenticationManager2">-->
        <!--<authentication-provider>-->
            <!--<user-service>-->
                <!--<user name="admin@gmail.com" password="admin" authorities="ROLE_ADMIN"/>-->
            <!--</user-service>-->
        <!--</authentication-provider>-->
    <!--</authentication-manager>-->


    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>
    <beans:bean id="csrfSecurityRequestMatcher" class="com.ilya.securityservice.CsrfSecurityRequestMatcher"/>
    <beans:bean id="customUserDetailsService" class="com.ilya.securityservice.CustomUserDetailsService"/>
    <beans:bean id="authSuccessHandler" class="com.ilya.securityservice.AuthenticationSuccessHandlerImpl"/>
    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="11"/>
    </beans:bean>
</beans:beans>